@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
body { font-family: 'Akaya Kanadaka', cursive; }

/* custom cursor when user is playing */
body.is-play {
    cursor: url(assets/cursor.png), auto;
}

.container {
    padding-top: 30px;
    text-align: center;
}

/* game info */
.game-info {
    font-size: 30px;
    color: #F9B208;
}

.game-info .score-container {
    font-size: inherit;
    font-weight: normal;
    margin-bottom: 0;
}
.game-info #score, #timer { font-weight: bold; }

.game-info .timer-container {
    font-size: inherit;
    font-weight: normal;
    margin-top: 0px;
}

.game-info .controller {
    color: #ff7500;
    margin-top: 20px;
}
.game-info .controller i { cursor: pointer; }

/* game area */
.game-area {
    display: flex;
    width: 80%;
    margin: 60px auto;
    justify-content: space-around;
}

.game-area .domge {
    height: 140px;
    width: 140px;
    background-color: #F9B208;
    border-radius: 100%;
    border: 10px solid #F98404;
    box-shadow: 0px 1px 10px #fda504;
}
.game-area .domge:not(:last-child) { margin-right: 40px; }

.game-area .domge div {
    width: 105px;
    height: 120px;
    margin: auto;
    margin-top: 4px;
    transform: translateY(10px);
    transition: transform 1.5s;
    display: inline-block;
    opacity: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.game-area .domge div.bonk {
    width: 125px;
    margin-top: 20px;
    height: 110px;
}

.game-area .domge div.show {
    transform: translateY(0);
    opacity: 1;
}